@use "./_colors" as *;
@use "./typhography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  font-family: $titles-font;
  position: relative;
}
.title {
  text-align: center;
}
input {
  width: 100%;
  font-size: 700;
}
.main {
  margin: 0 auto;
  width: 130rem;
  padding: 1rem;
}
.grid {
  display: grid;
  &__2__columns {
    grid-template-columns: 1fr 2.5fr;
    gap: 2.6rem;
  }
}
