@use "./_colors" as *;
@use "./typhography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    to right bottom,
    $bg-color,
    $bg-color-secondary
  );
  font-family: $titles-font;
  position: relative;
  color: $txt-color;
}
.title {
  text-align: center;
}

.main {
  display: grid;
  max-width: 120rem;
  min-height: 95rem;
  box-shadow: 0 2rem 6rem 0.5rem rgb(97 85 81 / 20%);
  border-radius: 1rem;
  background-color: $bg-color-content;
  margin: 4vw auto;
  overflow: hidden;
  grid-template-columns: 1fr 2.5fr;
  gap: 2.6rem;
  grid-template-areas:
    "head head"
    "list info";
}
.grid {
  &__2__columns {
    grid-template-columns: 1fr 2.5fr;
    gap: 2.6rem;
  }
}
