//Pokemon color
:root {
  --bug: #91e7bc;
  --electric: #d4e15b;
  --fire: #f34d4d;
  --grass: #30694c;
  --normal: #676868;
  --rock: #b9a34b;
  --dark: #05031f;
  --fairy: #d181e6;
  --flying: #9accf5;
  --poison: #9700e8;
  --stell: #bcc4c0;
  --dragon: #3d71a8;
  --fighting: #69332c;
  --ghost: #4f4a7a;
  --ice: #5ae1ff;
  --psychic: #ff07cd;
  --water: #1422dc;
}
//bg-colors
$bg-color: #fa9884;
$bg-color-secondary: #e74646;
$bg-color-content: #ffe5ca;
$bg-color-pokemontable: #fff3e2;
$bg-color-hover: #ffe5ca;
$bg-color-dot: hsl(10, 81%, 84%);

//Text

$txt-color: #fa9884;
$txt-color-secondary: #594545;
$txt-place-holder: #59454562;
