//bg-colors

$bg-color: #fa9884;
$bg-color-secondary: #e74646;
$bg-color-content: #ffe5ca;
$bg-color-pokemontable: #fff3e2;
$bg-color-hover: #ffe5ca;

//Text

$txt-color: #fa9884;
$txt-color-secondary: #594545;
