@use "../globals" as *;

.pokemon-results-container {
  background-color: $bg-color-pokemontable;
  grid-area: list;
  display: flex;
  flex-direction: column;

  &__error {
    border: 2px solid;
    max-height: 20rem !important;
  }
}
.results {
  padding: 3rem 0;
  list-style: none;
  margin-bottom: 1rem;

  p {
    font-size: $p-size;
    color: $txt-color-secondary;
  }
  h4 {
    font-size: $h4-size;
  }
}
.element {
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  &__logo {
    position: absolute;
    opacity: 0;
    left: 100%;
    height: 4.6rem;
    margin-left: 2.6rem;
    transition: all 0.5s;
  }
  &__logo__in {
    opacity: 1;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  &__logo__out {
    opacity: 0;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  &__opacity {
    opacity: 0;
  }
  &__container {
    display: flex;
    align-items: center;
    padding: 1.5rem 3.25rem;
    transition: all 0.3s;
    border-right: 1px solid #fff;
    text-decoration: none;
  }
  &__data {
    display: grid;
    width: 100%;
    row-gap: 0.1rem;
  }
  &__name {
    text-transform: uppercase;
    font-weight: 500;
  }
  &__jname {
    text-transform: uppercase;
    font-weight: 700;
  }
  &__active {
    background-color: $bg-color-hover;
  }
  &__preview {
    flex: 0 0 5.2rem;
    margin-right: 1.2rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    height: 5.2rem;
    background-color: #fff;
    &__bug {
      background-image: linear-gradient(to right bottom, #ffffff, #91e7bc);
    }
    &__electric {
      background-image: linear-gradient(to right bottom, #ffffff, #d4e15b);
    }
    &__fire {
      background-image: linear-gradient(to right bottom, #ffffff, #f34d4d);
    }
    &__grass {
      background-image: linear-gradient(to right bottom, #ffffff, #30694c);
    }
    &__normal {
      background-image: linear-gradient(to right bottom, #ffffff, #676868);
    }
    &__rock {
      background-image: linear-gradient(to right bottom, #ffffff, #b9a34b);
    }
    &__dark {
      background-image: linear-gradient(to right bottom, #ffffff, #05031f);
    }
    &__fairy {
      background-image: linear-gradient(to right bottom, #ffffff, #d181e6);
    }
    &__flying {
      background-image: linear-gradient(to right bottom, #ffffff, #9accf5);
    }
    &__poison {
      background-image: linear-gradient(to right bottom, #ffffff, #9700e8);
    }
    &__steel {
      background-image: linear-gradient(to right bottom, #ffffff, #bcc4c0);
    }
    &__dragon {
      background-image: linear-gradient(to right bottom, #ffffff, #3d71a8);
    }
    &__fighting {
      background-image: linear-gradient(to right bottom, #ffffff, #69332c);
    }
    &__ghost {
      background-image: linear-gradient(to right bottom, #ffffff, #4f4a7a);
    }
    &__ice {
      background-image: linear-gradient(to right bottom, #ffffff, #5ae1ff);
    }
    &__psychic {
      background-image: linear-gradient(to right bottom, #ffffff, #ff07cd);
    }
    &__water {
      background-image: linear-gradient(to right bottom, #ffffff, #1422dc);
    }
    &__ground {
      background-image: linear-gradient(to right bottom, #ffffff, #a4a053);
    }
  }
}
.element:hover {
  background-color: $bg-color-hover;
  transform: translateY(-2.5px);
}
.pokemon-img {
  position: absolute;
  height: 100%;
}
.titles {
  display: flex;
  margin: 1.6rem 0 1.6rem 0;
  justify-content: space-between;

  h3 {
    font-size: $h3-size;
    font-family: $text-font;
    padding: 0 1.6rem 0 1.6rem;
  }
}
.pagination-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.6rem;
}
.pagination--hover--left {
  position: relative;
  font-size: $p-size;

  &:hover span {
    opacity: 0;
  }
  &:hover::before {
    content: "\2190";
    position: absolute;
  }
  &::before {
    font-size: $p-size;
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }
}
.pagination--hover--right {
  position: relative;
  font-size: $p-size;

  &:hover span {
    opacity: 0;
  }
  &:hover::before {
    content: "\2192";
    position: absolute;
  }
  &::before {
    font-size: $p-size;
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10rem) rotate(360deg);
    transform: translateX(-10rem) rotate(360deg);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10rem) rotate(360deg);
    transform: translateX(-10rem) rotate(360deg);
  }
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translateX(0) rotate(360deg);
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  100% {
    -webkit-transform: translateX(0) rotate(360deg);
    transform: translateX(0) rotate(360deg);
  }
}
@media (max-width: 35.5em) {
  .pokemon-results-container {
    grid-area: list;
    display: flex;
    flex-direction: row;
  }
  .results {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
  }
  .element__data {
    display: none;
  }
  .element__container {
    justify-content: center;
    padding: 1rem;
  }
  .element__preview {
    justify-content: center;
    margin-right: 0;
  }
  .pagination-container {
    flex-direction: column;
    margin-bottom: 0;
  }
  .element__logo {
    display: none;
  }
}
