@use "../globals" as *;
.footer {
  position: absolute;

  bottom: 0;
  margin-right: 0;
}
.navbar {
  &__list {
    list-style: none;
    &__element {
      font: inherit;
      font-weight: 600;

      a:hover {
        color: $bg-color-secondary;
      }
    }
  }
}
