@use "../globals" as *;
.header {
  display: flex;
  grid-area: head;
  align-items: center;
  justify-content: space-between;
  max-height: 10rem;
  &__logo {
    height: 4.6rem;
    margin-left: 2.6rem;
  }
}
.search {
  background-color: $bg-color-pokemontable;
  border-radius: 10rem;
  transition: all 0.3s;
  display: flex;
  padding-left: 4.6rem;
  align-items: center;

  &__bar {
    height: 100%;
    cursor: text;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    width: 30rem;
    background: none;
  }
  input::placeholder {
    color: $txt-place-holder;
  }
  &__btn {
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    background-image: linear-gradient(
      to right bottom,
      $bg-color,
      $bg-color-secondary
    );
  }
  ion-icon {
    color: #fff;
    height: 2.25rem;
    width: 2.25rem;
  }
}

.liked-pokemons {
  height: 100%;
  margin-right: 2.6rem;
  display: flex;
  cursor: pointer;
  align-self: stretch;

  &__btn {
    height: 100%;
    display: flex;
    color: $txt-color-secondary;
    padding: 0 1.5rem;
    transition: all 0.3s;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;

    ion-icon {
      height: 2.25rem;
      width: 2.25rem;
      margin-right: 1.2rem;
      color: $bg-color-secondary;
    }
  }
  &__btn:hover {
    background-color: $bg-color-pokemontable;
  }
}
