@use "../globals" as *;
.pokemoninfo-container {
  grid-area: info;
  background: $bg-color-pokemontable;
  border-radius: 6rem;
  margin: 0 2rem 2rem;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.474);
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  overflow: hidden;
  max-height: 100%;
  align-self: flex-start;
}
.titles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h3 {
    color: $txt-color-secondary !important;
    font-size: $h3-size;
    color: $bg-color-pokemontable;
    font-weight: 600;
    text-align: center;
  }
  h4 {
    color: $txt-color-secondary !important;
    font-size: $h4-size;
    color: $bg-color-pokemontable;
    font-weight: 600;
    text-align: center;
  }
}
.types {
  display: flex;
  justify-content: space-evenly;
}
.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $txt-color-secondary;
  font-size: $h4-size;
  gap: 1.2rem;
  span:first-child {
    font-weight: 700;
    font-size: $h3-size;
  }
}

.description {
  padding: 2rem;
  display: inline-block;
  text-align: center;
  h3 {
    color: $txt-color-secondary;
  }
}
.pokeball-container {
  position: absolute;
  left: 50%;
}
.pokeball {
  opacity: 1;
  position: relative;
  width: 7rem;
  height: 7rem;
  background: #fff;
  border: 3px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;

  &__button {
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 4px);
    width: 15%;
    height: 15%;
    background: #7f8c8d;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 3px black;
  }
}
.pokeball::before,
.pokeball::after {
  content: "";
  position: absolute;
}
.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}
.pokeball::after {
  top: calc(50%);
  width: 100%;
  height: 5px;
  background: #000;
}
.pokeball[data-active="true"] {
  animation: fall 0.25s ease-in-out,
    shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;
}
.pokeball__button[data-active="true"] {
  animation: blink 0.5s alternate 7;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0) translateZ(45deg);
  }
}
@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #e74c3c;
  }
}
