@use "../globals" as *;
.slider {
  z-index: 1;
  height: 40rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__image {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    transition: background-Image 0.5s ease-in-out, opacity 1s;
  }
  &__image::selection {
    color: rgb(0, 0, 0);
  }
  ion-icon {
    height: 5rem;
    width: 5rem;
    cursor: pointer;
  }
  &__btn__left {
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  &__btn__right {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
  }
  &__titles {
    display: flex;
    flex-direction: column;
  }

  &__dot {
    display: flex;
    gap: 1rem;
    justify-content: center;
    button {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: $bg-color-dot;
      border: none;
      transition: background-color 0.5s ease-in-out;
      cursor: pointer;
    }
    button:hover,
    button:active {
      background-color: $bg-color-secondary;
    }
    button[data-active="true"] {
      background-color: $bg-color;
    }
    button[data-active="true"]:hover {
      background-color: $bg-color-secondary;
    }
  }
}
